@{
    ViewBag.Title = "AttrBinding";
}

<h2>AttrBinding</h2>

<a data-bind="attr:{href:doHref}">快点我:我的href属性为<!--ko text:doHref --><!--/ko--></a>
<div>
    <button type="button" data-bind="click:changeTest1">换地址1</button>
    <button type="button" data-bind="click:changeTest2">换地址2</button>
</div>


    <script type="text/javascript">

        var appViewModel = function () {
            this.doHref = ko.observable("");
            this.changeTest1 = function () {
                this.doHref("http://www.baidu.com");
            };
            this.changeTest2 = function () {
                this.doHref("http://www.cnblogs.com/");
            };
        }

        ko.applyBindings(new appViewModel());
    </script>
