@{
    ViewBag.Title = "ScrollToButtom";
}
<script>
    (function ($) {

        $.fn.scrollPagination = function (settings, success) {
            var self = this;
            if (!success) {
                throw Error("!success");
            }

            settings.finished = false;
            $(window).on("scroll", function () {
                if ($(window).scrollTop() + $(window).height()+50 >= $(document).height()) {
                    var domLoading = $('<div class="blank"><p><img src="images/loading_more.png" />正在加载中...</p></div>');
                    $(self).append(domLoading);
                    success(settings);
                    domLoading.remove();
                }
            });
            //$(window).scroll(function () {
            //    if ($(window).scrollTop() + $(window).height() == $(document).height()) {
            //        var domLoading = $('<div class="blank"><p><img src="images/loading_more.png" />正在加载中...</p></div>');
            //        $(self).append(domLoading);
            //        success(settings);
            //        domLoading.remove();
            //    }
            //});
        }

    })(jQuery);

    $("#scrollContainer").scrollPagination({}, function() {
        $("#scrollContainer").append("2222<br/>");
    });
</script>

<h2>滚动到底部 测试浏览器功能 uc最新版本目前不行</h2>
<ul id="scrollContainer">
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
    <li>11111111111111111111111111111111111111111111111111111111111</li>
</ul>
