@{
    ViewBag.Title = "test";
}

<h2>test</h2>
<script type="text/javascript">
    
    
    function name(parameters) {
        var voice = new GoodVoice();
        return voice.Cut("111111111111111111111111111111", 10);
        //voice.Cut("222222222222222222222222222222", 14);
    }
    var GoodVoice = function () {
        var self = this;
        //截取
        self.Cut = function (value, length) {
            var temp = '';
            if (value != '' && value.length > length) {
                temp = value.substring(0, 10);
                temp = temp + '...';
            }
            return temp;
        }
    };
    alert(name(100));

    var StringUtil=function() {
        var self = this;



    }
</script>