@{
    ViewBag.Title = "underscore";
}
<a href="http://underscorejs.org/">underscore官网</a><br/>
<a href="http://www.cnblogs.com/kyo4311/p/5178393.html">博客园一个underscore的教程</a><br />

@Html.Raw(ViewBag.AutoHtml)
