@{
    ViewBag.Title = "ScopedRouting";
}

<h2>ScopedRouting</h2>
<a href="#/users/1">用户1</a>
<a href="#/users/2">用户2</a>

<script type="text/javascript">
    $(function() {
        
        var router = new Router();

        
    });
</script>