@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<!--边界-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>todolist</title>
    <meta charset="utf-8" />
    @Styles.Render("~/Content/bootstrap.min.css")
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/angular-ui-router.js")
</head>
<body ng-app="app">
<a href="http://stackoverflow.com/questions/20663076/angularjs-app-run-documentation">angular的执行顺序文档</a>
<div ng-controller="appc1">
    <div test1 test2>angular的执行顺序</div>
</div>

<script type="text/javascript">
    //依赖模块
    var app = angular.module('app', ['ui.router']);

    app.factory('aprovider', function() {
        console.log("aprovider");
        return {
            f: "我是factory创建的f"
        }
    });

    app.directive('test1', function() {
        console.log('directive test1 setup');

        return {
            restrict: 'A', //属性
            link: function() {
                //alert("我在这里");
                return "http://www.baidu.com";
            }
        }
    });

    app.directive('test2', function() {
        console.log('directive test2 setup');

        return {
            restrict: 'A', //属性
            link: function() {
                //alert("我在这里");
                return "http://www.cnblogs.com";
            }
        }
    });

    app.run(function() {
        console.log("angular.run()执行了");
    });

    app.config(function($stateProvider, $urlRouterProvider) {
        console.log("app config");
    });

    app.controller('appc1', function($scope, aprovider) {
        console.log("app controller appc1 执行了");
    });
</script>
</body>
</html>
