@{
    ViewBag.Title = "AngularJSBasicHTTPAuthentication";
}
@*http://jasonwatmore.com/post/2014/05/26/AngularJS-Basic-HTTP-Authentication-Example.aspx*@
https://auth0.com/blog/2014/01/07/angularjs-authentication-with-cookies-vs-token/
<h2>AngularJSBasicHTTPAuthentication</h2>
