@{
    ViewBag.Title = "Index";
}
<a href="http://docs.ngnice.com/guide">angularjs的中文指导:</a><br/>
<a href="https://checkcheckzz.gitbooks.io/angularjs-learning-notes/content/chapter1/chapter1.html">angularjs的中文github</a><br />

@Html.Raw(ViewBag.AutoHtml)
