@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<!--边界-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>todolist</title>
    <meta charset="utf-8" />
    @Styles.Render("~/Content/bootstrap.min.css")
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/angular-ui-router.js")
    @Scripts.Render("~/Scripts/underscore.js")
</head>
<body ng-app="app">
    <a ui-sref="contacts">联系人</a>
    <div ui-view></div>
<pre>
      $state = {{$state.current.name}}
      $stateParams = {{$stateParams}}
      $state full url = {{ $state.$current.url.source }}
</pre>
    <script type="text/javascript">
        //http://www.funnyant.com/angularjs-ui-router/
        //UI-Router: Why many developers don’t use AngularJS’s built-in router
        //依赖模块
        //注意不要写成ui-router
        var app = angular.module('app', ['ui.router']);

        app.config(function ($stateProvider, $urlRouterProvider) {
            //For any unmatched url, redirect to /contacts
            //$urlRouterProvider.otherwise('/contacts');

            $stateProvider.state('contacts', {
                url: '/contacts',
                templateUrl: '/tpl/uirouter_urirouting/contacts.html',
                controller: function ($scope, contactService) {
                    console.log("111");
                    $scope.data = contactService.contacts;
                    $scope.showList = false;
                    console.log(contactService.contacts);
                }
            })
                .state('contacts.detail', {
                    url: '/:contactId',
                    templateUrl: '/tpl/uirouter_urirouting/contacts-detail.html',
                    controller: function ($scope, $stateParams, contactService) {
                        console.log($stateParams);
                        $scope.detail = contactService.find($stateParams.contactId);
                        console.log($scope.detail);
                    }
                });
        });
        app.service("contactService", function () {
            var self = this;
            self.contacts = {
                items: [
                    { id: 1, name: '国美美' },
                    { id: 2, name: '2美美' }
                ]
            };
            self.find = function (contactId) {
                return _.find(self.contacts.items, function (show) { return show.id == contactId });
            }
        });
        app.run(['$rootScope', '$state', '$stateParams', function ($rootScope, $state, $stateParams) {
            $rootScope.$state = $state;
            $rootScope.$stateParams = $stateParams;
        }]);
    </script>
</body>
</html>
